<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d{HH:mm:ss.SSS} [%t]}{yellow}
      %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green} 
      %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
    	<Logger name="com.dcpente.oracle.osb.deployplan.sorter.util" level="WARN">
    		<AppenderRef ref="STDOUT"/>
    	</Logger>
        <Root level="WARN">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>